<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
        }
    </style>
</head>

<body>
    <h1>Invalid Credentials</h1>
     <h1>Error may occured due to following reasons :</h1>
    <h1>* Incorrect Password.</h1>
     <h1>* Password and Repeatpassword may not be same.</h1>
      <h1>*Entered Email may exist already.</h1>
</body>

</html>
